services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    image: biswajitop/mean-backend:latest
    container_name: mean-backend
    restart: unless-stopped
    environment:
      MONGO_URL: mongodb://mongo:27017/dd_db
      PORT: 8080
    depends_on:
      - mongo
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    image: biswajitop/mean-frontend:latest
    container_name: mean-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "4200:4200"

  nginx:
    image: nginx:alpine
    container_name: mean-nginx
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  mongo_data:
